<%= simple_form_for @location do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :address %><br />
    <%= form.text_field :address, id: :location_address %><br />
  </div>

  <div class="form-group">
    <%= form.label :latitude %><br />
    <%= form.text_field :latitude, id: :location_latitude %><br />
  </div>

  <div class="form-group">
    <%= form.label :longitude %><br />
    <%= form.text_field :longitude, id: :location_longitude %><br />
  </div>

 <div class="form-group">
    <%= form.label :radius %><br />
    <%= form.text_field :distance, id: :location_distance %><br />
</div>

  <div class="actions">
    <%= form.submit 'Submit',:class => 'btn btn-lg btn-default' %>
  </div>
<% end %>
