<p id="notice"><%= notice %></p>

<h1>Locations</h1>
<br>



<table class="display table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Radius</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.distance %></td>
    <td><%= link_to 'Show', location,class:'btn btn-lg btn-info' %>  <%= link_to 'Edit', edit_location_path(location),class:'btn btn-lg btn-warning'  %>  <%= link_to 'Delete', location,class:'btn btn-lg btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div> <%= paginate @locations, theme: 'twitter-bootstrap-3' %></div>
<div> <%= link_to 'New Location', new_location_path,class:'btn btn-lg btn-default' %></div>

